body {
  background-color: #101010;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  font-size: 32px;
  color: white;
}

/* Верхнее меню */
.top-menu {
  width: 100%;
  background: #202020;
  padding: 30px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.top-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
