body {
  background-color: #101010;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
    font-size: 32px;
    color: white;
}

.top-menu {
    width: 100%;
    background: #6f6f6f;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.top-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
